
body {
	font-family: arial;
	margin: 0px;
	padding: 0px;
	}
	
.login_container {
	position: absolute;
	left: 50%;
	top: 30px;
	width: 400px;
	}
	
fieldset {
	width: 300px;
	position: relative;
	
	left: -200px;
	border-color: black;
	border-width: 1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: green;
	}
	
h1 {
	text-align: left;
	padding: 0px;
	margin: 0px;
	padding: 10px 10px;
	background-color: red;
	}
	
.sign_up {
	margin-left: 200px;
	}
	
ul {
	position: relative;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

li {
	position: relative;
	display: block	;
	list-style-type: none;
	margin: 10px 10px 0px 0px;
	padding: 0px 10px 0px 10px;
	}
	
input {
	position: relative;
	display: block;
	width: 100%;
	padding: 5px;
	}
	
label {
	position: relative;
	display: block;
	}
	
[type="submit"] {
	position: relative;
	left: 64px;
	padding: 3px;
	margin: 0px 0px 10px;
	background-color: blue; 
	color: white; 
	font-family: sans-serif; 
	font-size: x-large;  
	font-weight: 900; 
	border-width: 0;
	border-radius: .4em;
	width: 150px
	}
	
[type="submit"]:hover {
	box-shadow: 0px 0px 25px red;
	}