
body {
	font-family: arial;
	margin: 0px;
	padding: 0px;
	}

.alert {
	color: red;
	text-indent: 25px;
	display: inline;
	}
	
ul li {
	list-style: none;
	margin: 20px;
	}
	
label{
    display: inline;
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
	margin-bottom: 20px;
}
input {
  display: inline;
  float: left;
}

[type="submit"]{
	clear: left;
}